.structure {
  background-color: rgb(136, 178, 230);
  opacity: 0.75;
}

.description {
  background-color: rgb(152, 165, 56);
  opacity: 0.75;
}

.analyze {
  background-color: rgb(161, 117, 117);
  opacity: 0.75;
}

.transparent {
  background-color: transparent;
}

.inactiv {
  background-color: rgba(211, 211, 211);
}
