.structure {
  background-color: rgb(136, 178, 230);
}

.description {
  background-color: rgb(152, 165, 56);
}

.analyze {
  background-color: rgb(161, 117, 117);
}

.mixed {
  background-color: rgb(224, 97, 19) !important;
}

.transparent {
  background-color: transparent;
}

.main-label {
  text-align: center;
  font-size: 30px;
}
