.structure {
    background-color: rgb(136, 178, 230);
}

.description {
    background-color: rgb(152, 165, 56);
}

.analyze {
    background-color: rgb(161, 117, 117);
}

.mixedSD {
    background-color: red;
}